.details {
  margin: 20px 0;

  .section {
    overflow: hidden;
    margin-bottom: 15px;

    label {
      display: block;
      float: left;
      padding: 15px 15px;
      background-color: #ddd;
      border-right: 1px solid #ccc;
    }
    label.selected {
      background-color: #444;
      color: white;
    }
    label input {
      display: none;
    }
    label:first-of-type {
      border-radius: 3px 0 0 3px;
    }
    label:last-of-type {
      border-radius: 0 3px 3px 0;
      border-right: 0;
    }
  }

  .submit {
    margin-top: 40px;

    .button:first-of-type {
      float: right;
    }
  }
}
