
.header {
  position: relative;
  overflow: hidden;
  padding: 15px;
  margin: -15px -15px 15px -15px;
  border-bottom: 1px solid #999;
  background-color: white;

  .product-image {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

.details {
  .section {
    overflow: hidden;
    margin-bottom: 15px;

    .help-text {
      display: none;
      clear: left;
      margin-top: 10px;
      font-size: 9pt;
      color: #666;
    }

    .options {
      overflow: hidden;
    }

    label {
      display: block;
      float: left;
      padding: 0 15px;
      height: 50px;
      line-height: 53px;
      background-color: #ddd;
      border-right: 1px solid #ccc;
      box-shadow: inset 0px -1px 2px -1px rgba(0, 0, 0, 0.75);

      &.img {
        line-height: 50px;
        padding: 0 10px;
      }

      &.selected {
        background-color: #fff;
      }
      &.selected + .help-text {
        display: block;
      }
      &:first-of-type {
        border-radius: 3px 0 0 3px;
      }
      &:last-of-type {
        border-radius: 0 3px 3px 0;
        border-right: 0;
      }

      input {
        display: none;
      }
    }
  }

  .submit {
    margin-top: 30px;

    .button:first-of-type {
      float: right;
    }
  }
}
