/* line 1, ../../app/styles/_buttons.scss */

button,
.button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #60b314;
  border-color: #47850f;
  color: white;
}

/* line 21, ../../app/styles/_buttons.scss */

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #47850f;
}

/* line 23, ../../app/styles/_buttons.scss */

button:hover,
button:focus,
.button:hover,
.button:focus {
  color: white;
}

/* line 25, ../../app/styles/_buttons.scss */

button.secondary,
.button.secondary {
  background-color: #f4f5ef;
  border-color: #dee1d0;
  color: #333333;
}

/* line 29, ../../app/styles/_buttons.scss */

button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
  background-color: #dee1d0;
}

/* line 31, ../../app/styles/_buttons.scss */

button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
  color: #333333;
}

/* line 33, ../../app/styles/_buttons.scss */

button.success,
.button.success {
  background-color: #60b314;
  border-color: #47850f;
  color: white;
}

/* line 37, ../../app/styles/_buttons.scss */

button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus {
  background-color: #47850f;
}

/* line 39, ../../app/styles/_buttons.scss */

button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus {
  color: white;
}

/* line 41, ../../app/styles/_buttons.scss */

button.alert,
.button.alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
}

/* line 45, ../../app/styles/_buttons.scss */

button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
  background-color: #970b0e;
}

/* line 47, ../../app/styles/_buttons.scss */

button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
  color: white;
}

/* line 49, ../../app/styles/_buttons.scss */

button.large,
.button.large {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1.0625em;
  padding-left: 2em;
  font-size: 1.25em;
}

/* line 55, ../../app/styles/_buttons.scss */

button.small,
.button.small {
  padding-top: 0.5625em;
  padding-right: 1.125em;
  padding-bottom: 0.625em;
  padding-left: 1.125em;
  font-size: 0.8125em;
}

/* line 61, ../../app/styles/_buttons.scss */

button.tiny,
.button.tiny {
  padding-top: 0.4375em;
  padding-right: 0.875em;
  padding-bottom: 0.5em;
  padding-left: 0.875em;
  font-size: 0.6875em;
}

/* line 67, ../../app/styles/_buttons.scss */

button.expand,
.button.expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

/* line 71, ../../app/styles/_buttons.scss */

button.left-align,
.button.left-align {
  text-align: left;
  text-indent: 0.75em;
}

/* line 74, ../../app/styles/_buttons.scss */

button.right-align,
.button.right-align {
  text-align: right;
  padding-right: 0.75em;
}

/* line 77, ../../app/styles/_buttons.scss */

button.disabled,
button[disabled],
.button.disabled,
.button[disabled] {
  background-color: #60b314;
  border-color: #47850f;
  color: white;
  cursor: default;
  opacity: 0.6;
  box-shadow: none;
}

/* line 85, ../../app/styles/_buttons.scss */

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
  background-color: #47850f;
}

/* line 87, ../../app/styles/_buttons.scss */

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
  color: white;
}

/* line 89, ../../app/styles/_buttons.scss */

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
  background-color: #60b314;
}

/* line 91, ../../app/styles/_buttons.scss */

button.disabled.secondary,
button[disabled].secondary,
.button.disabled.secondary,
.button[disabled].secondary {
  background-color: #f4f5ef;
  border-color: #dee1d0;
  color: #333333;
  cursor: default;
  opacity: 0.6;
  box-shadow: none;
}

/* line 99, ../../app/styles/_buttons.scss */

button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
  background-color: #dee1d0;
}

/* line 101, ../../app/styles/_buttons.scss */

button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
  color: #333333;
}

/* line 103, ../../app/styles/_buttons.scss */

button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
  background-color: #f4f5ef;
}

/* line 105, ../../app/styles/_buttons.scss */

button.disabled.success,
button[disabled].success,
.button.disabled.success,
.button[disabled].success {
  background-color: #60b314;
  border-color: #47850f;
  color: white;
  cursor: default;
  opacity: 0.6;
  box-shadow: none;
}

/* line 113, ../../app/styles/_buttons.scss */

button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus {
  background-color: #47850f;
}

/* line 115, ../../app/styles/_buttons.scss */

button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus {
  color: white;
}

/* line 117, ../../app/styles/_buttons.scss */

button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus {
  background-color: #60b314;
}

/* line 119, ../../app/styles/_buttons.scss */

button.disabled.alert,
button[disabled].alert,
.button.disabled.alert,
.button[disabled].alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
  cursor: default;
  opacity: 0.6;
  box-shadow: none;
}

/* line 127, ../../app/styles/_buttons.scss */

button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
  background-color: #970b0e;
}

/* line 129, ../../app/styles/_buttons.scss */

button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
  color: white;
}

/* line 131, ../../app/styles/_buttons.scss */

button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
  background-color: #c60f13;
}

/* line 134, ../../app/styles/_buttons.scss */

button,
.button {
  padding-top: 0.8125em;
  padding-bottom: 0.75em;
  -webkit-appearance: none;
}

/* line 138, ../../app/styles/_buttons.scss */

button.tiny,
.button.tiny {
  padding-top: 0.5em;
  padding-bottom: 0.4375em;
  -webkit-appearance: none;
}

/* line 142, ../../app/styles/_buttons.scss */

button.small,
.button.small {
  padding-top: 0.625em;
  padding-bottom: 0.5625em;
  -webkit-appearance: none;
}

/* line 146, ../../app/styles/_buttons.scss */

button.large,
.button.large {
  padding-top: 1.03125em;
  padding-bottom: 1.03125em;
  -webkit-appearance: none;
}

@media only screen {
  /* line 152, ../../app/styles/_buttons.scss */

  button,
  .button {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
  }

  /* line 158, ../../app/styles/_buttons.scss */

  button:active,
  .button:active {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  }

  /* line 161, ../../app/styles/_buttons.scss */

  button.radius,
  .button.radius {
    border-radius: 3px;
  }

  /* line 164, ../../app/styles/_buttons.scss */

  button.round,
  .button.round {
    border-radius: 1000px;
  }
}

@media only screen and (min-width: 768px) {
  /* line 168, ../../app/styles/_buttons.scss */

  button,
  .button {
    display: inline-block;
  }
}

/* line 6, ../../app/styles/main.scss */

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none;
  /* Disable touch callouts */
}

/* line 14, ../../app/styles/main.scss */

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../../app/styles/main.scss */

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  /*overflow: hidden;*/
}

/* line 26, ../../app/styles/main.scss */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  line-height: 1.2;
  background: #f4f4f4;
  color: #444;
  position: relative;
  cursor: default;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* line 38, ../../app/styles/main.scss */

input,
textarea {
  -webkit-user-select: text;
  /* Allow selection for input elements */
}

/* line 42, ../../app/styles/main.scss */

a {
  color: #4AA6BD;
  text-decoration: none;
}

/* line 46, ../../app/styles/main.scss */

a img {
  border: none;
}

/* line 50, ../../app/styles/main.scss */

img {
  display: inline-block;
  vertical-align: middle;
}

/* line 55, ../../app/styles/main.scss */

textarea {
  height: auto;
  min-height: 50px;
}

/* line 60, ../../app/styles/main.scss */

select {
  width: 100%;
}

/* line 64, ../../app/styles/main.scss */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .25em;
}

/* line 68, ../../app/styles/main.scss */

#masthead {
  overflow: hidden;
  padding: 10px 10px;
  background-color: #fff;
  border-top: 8px solid #60B314;
  border-bottom: 1px solid #eee;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
}

/* line 76, ../../app/styles/main.scss */

#masthead .logo {
  display: block;
  float: left;
}

/* line 80, ../../app/styles/main.scss */

#masthead .logo img {
  display: block;
  width: 100px;
  height: auto;
}

/* line 85, ../../app/styles/main.scss */

#masthead h1 {
  margin-left: 120px;
  font-size: 10pt;
  font-weight: normal;
  color: #999;
  text-align: right;
}

/* line 94, ../../app/styles/main.scss */

#main {
  padding: 15px 15px 30px;
}

/* line 98, ../../app/styles/main.scss */

#menu {
  background-color: #222;
  color: white;
}

/* line 104, ../../app/styles/main.scss */

#products .intro {
  text-align: center;
  margin: 0 20px;
  padding: 7px 10px;
  background-color: #666;
  color: #eee;
  border-radius: 5px 5px 0 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
}

/* line 114, ../../app/styles/main.scss */

#products .product {
  list-style-type: none;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}

/* line 121, ../../app/styles/main.scss */

#products .product.main {
  text-align: left;
}

/* line 125, ../../app/styles/main.scss */

#products .product.tapped {
  background-color: #fafafa;
}

/* line 129, ../../app/styles/main.scss */

#products .product .info {
  overflow: hidden;
}

/* line 132, ../../app/styles/main.scss */

#products .product .info img {
  float: left;
  margin: 0 15px 0 0;
}

/* line 137, ../../app/styles/main.scss */

#products .product .info p {
  color: #999;
}

/* line 142, ../../app/styles/main.scss */

#products .product .options {
  position: relative;
  max-height: 0;
  margin: 10px -16px -15px;
  background-color: #666;
  color: white;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/* line 153, ../../app/styles/main.scss */

#products .product .options .inner {
  padding: 15px;
}

/* line 157, ../../app/styles/main.scss */

#products .product .options p {
  margin-bottom: 10px;
}

/* line 161, ../../app/styles/main.scss */

#products .product .options li {
  list-style-type: none;
  display: inline-block;
  margin: 0 4px 8px 0;
}

/* line 166, ../../app/styles/main.scss */

#products .product .options li a {
  display: block;
  padding: 10px;
  background-color: #aaa;
  color: white;
  border-radius: 4px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.35);
}

/* line 174, ../../app/styles/main.scss */

#products .product .options li a.tapped {
  background-color: #333;
}

/* line 181, ../../app/styles/main.scss */

#products .product.active .options {
  max-height: 300px;
}

/* line 187, ../../app/styles/main.scss */

.header {
  margin-bottom: 15px;
}

/* line 190, ../../app/styles/main.scss */

.header h2 {
  margin-bottom: 0;
}

/* line 193, ../../app/styles/main.scss */

.header p {
  color: #999;
}

/* line 198, ../../app/styles/main.scss */

.panel {
  border-radius: .5em;
  background-color: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

/* line 205, ../../app/styles/main.scss */

.close {
  background: transparent url(../images/close.png) no-repeat 50%;
  background-size: 20px auto;
  width: 30px;
  height: 30px;
}

/* line 212, ../../app/styles/main.scss */

.center {
  text-align: center;
}
/* line 1, ../../app/styles/products.scss */

.details {
  margin: 20px 0;
}

/* line 4, ../../app/styles/products.scss */

.details .section {
  overflow: hidden;
  margin-bottom: 15px;
}

/* line 8, ../../app/styles/products.scss */

.details .section label {
  display: block;
  float: left;
  padding: 15px 15px;
  background-color: #ddd;
  border-right: 1px solid #ccc;
}

/* line 15, ../../app/styles/products.scss */

.details .section label.selected {
  background-color: #444;
  color: white;
}

/* line 19, ../../app/styles/products.scss */

.details .section label input {
  display: none;
}

/* line 22, ../../app/styles/products.scss */

.details .section label:first-of-type {
  border-radius: 3px 0 0 3px;
}

/* line 25, ../../app/styles/products.scss */

.details .section label:last-of-type {
  border-radius: 0 3px 3px 0;
  border-right: 0;
}

/* line 31, ../../app/styles/products.scss */

.details .submit {
  margin-top: 40px;
}

/* line 34, ../../app/styles/products.scss */

.details .submit .button:first-of-type {
  float: right;
}